/* FONT */

.container { 
    height: 100vh;
    width: 100%;
    position: relative;
  }

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 38%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


.modal-container {

}

.formgroup {
    margin-bottom: 10px;
}

.modal-formgroup {

}

.modal-formgroup-admin {

}

.formgroup-header-text-grey {

}

.formgroup-header-text-white {

}

.field {
    background-color: #fff;
    border: 1px solid #c6bdbd;
    color: #958c8c;
    border-radius: 6px;
    padding: 6px 0;
    text-align: center;
    transition: .5s;
}

.field:focus {
    outline: none;
    border-width: 1px;
    border-color: rgb(108, 115, 146)
}

.btn {
    padding: 6px 10px;;
    border-radius: 5px;
    color: #f7f7f7;
    border: 1px solid;
    cursor: pointer;
}

.profile-picture-large {
    width: 120px;
    height: 120px;
}